 ![alt text](https://ai-vithink.github.io/img/VIThink_Logo.png)
 ## Hey Peeps Welcome to the Advanced Python Workshop
Let's get you guys started !!!

![alt text](https://i.redd.it/y6b074nj41g31.png)

# Life Pro Tip : If you change the variable name itâ€™s ok!

### Warmup Exercises

In [1]:
for i in range(1,8,2):
  print(i)

#Docs: range(start, stop, step)
#Hint: The Range Funtion Iterates from Index start to stop-1

1
3
5
7

In [2]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

### Sad part is we cant multiplicate/divide the i in for loop as in C++ 
### but we've got while to the rescue

## Quick Refresher on difference between while and do while loops we covered in last workshop :
![alt text](https://preview.redd.it/feuuoxk4w7g31.jpg?width=640&crop=smart&auto=webp&s=79c31767d969be393045ab3238b3822fd10e8569)

In [3]:
i = 2
while (i<=10):
  print(i)
  i*=2

2
4
8

In [4]:
i = 10
while(i>=1):
  print(int(i))
  i/=2

10
5
2
1

In [0]:
# 2 Unique ways to iterate over a container 
array = [1,2,3,4,5]

In [6]:
# first way : indexed based iteration
for i in range(len(array)):
  print(array[i])

1
2
3
4
5

In [7]:
# second way ... for - in
for i in array:
  print(i)

1
2
3
4
5

## Lists and Dictionary Comprehensions

In [0]:
#Basic Example

s = [i for i in range(5)]
s

""" This is similar to writing the following code to make this array
s=[]
for i in range(5):
  s.append(i)
"""
s

In [0]:
# Lets Move to 2 way list comprehension

m = [i*j for i in range(1,5) for j in range(1,5) if i!=j]
m

In [0]:
# Similarily for ditionaries ....

d = {i:i+3 for i in range(5) for j in range(5)}
d

In [0]:
d = {i:str(i) for i in range(10)}
d

# So Now as you know some beginners tricks .... 
# Lets get you started with basic data structures in Python 
# as they do not take time...

# We will discuss Lists , Dictionaries , Set and Tuples 

# We are not discussing other general data structures which you might encounter in CSE1001 course as they are less relevant for Machine Learning

# Before we begin Data Structures ...Answering the question no one asked...
##  Q. Is there a life after a Data Structure course ? 
![alt text](https://i.redd.it/yhgirjt5fqez.jpg)

# Don't worry about it if you don't get understand it fully now.

## Lists

In [0]:
# Thats how you create an empty list
Lists = []

In [0]:
# Thats how you put stuff in it :

# You can put in anything .... almost anything ;)

Lists.append("Kunal") # Like String
Lists.append(2) # Like Integer
Lists.append(4.60) # A float
Lists.append([1,2,3,4]) # Another List

# Not Done Yet ... Put in a dictionary ... see how it goes :)

Lists.append({1:"k",2:"u",3:"n",4:"a",5:"l"})


# Lets see how is everyting inside
print(Lists)

In [0]:
# Wanna remove something .. ?
copy = Lists.copy()

# last element
copy.pop()

#pop() will remove the last element in the list by default

print(copy)

# Getting Errors ? Any Doubts ?
![alt text](https://preview.redd.it/uowuilghb2g31.jpg?width=640&crop=smart&auto=webp&s=f7733d646f197ce1f23d1a505f1841d96c68baca)

In [0]:
# delete at a certain index
copy = Lists.copy()

copy.pop(2)

print(copy)

In [0]:
# similarily u can delete by index using del 

a = [1,2,3,4]
del a[2]
print(a)

In [0]:
# u can also delete element by value 
a = [1,2,3,4,5,6,7]
a.remove(5)
print(a)

## Dictionary

Dictionary are basically *tables*  that hold "key-value" pairs .... They can be too useful  . We often need them in ML while creating / storing data

In [0]:
# Lets use something we learned
d = {i:str(i*"K") for i in range(5)}
d

In [0]:
# accessing value via key 
print(d[1])

print(d[2])

In [0]:
# adding a key-value entry 
d[5] = "KUNAL"
d.update({6:"SAHNI"})
d

In [0]:
deleting an entry 
del d[5]
d.pop(6) # key-based

In [0]:
# get the key , values separately 
keys = d.keys()
values = d.values()
items = d.items()

print(keys,"\n",values,"\n",items)

In [0]:
# Clearing the dictionary 
copy = d.copy()
print(copy)
copy.clear()
print(copy)

In [0]:
# Is dictionary self sorting ?
d.update({-1:"O"})
d

# Checkpoint. Let us know if you have any doubts.
## The 5 stages of hel- I mean being a programmer
![alt text](https://preview.redd.it/y4n56waihpf31.jpg?width=640&crop=smart&auto=webp&s=8f6506f4c54478699d4289280095dac8335f3b7e)

## Sets and Tuples

A tuple is a sequence of immutable Python objects. Tuples are just like lists with the exception that tuples cannot be changed once declared. Tuples are usually faster than lists.

In [0]:
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1])

Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

In [0]:
# initializing an empty set 
empty = set()
empty

In [0]:
# initializing with values 

one = set([1,2,3,4])
two = set([5,6,7,8])

# another way 
three = {9,10,11,12}

print(one , " " ,two," ", three)

In [0]:
# add and delete values 
one.add(20)
one.remove(1)
print(one)

### Set Operations , Set comprehensions

In [0]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))

print(set1.intersection(set2))

print(set1.symmetric_difference(set2))

print(set1.difference(set2))

In [0]:
setx = {16,20,30}
# These sets have elements in common so it would return False
print(set1.isdisjoint(set2))

# These sets have no elements in common so it would return True
print(set1.isdisjoint(setx))

In [0]:
# Set comprehensions
set3 = {i*3 for i in range(1,10)}
set3

In [0]:
# check for subsets
a = {1,2,3,4,5}
b = {4,5}
b.issubset(a)

## Classes

### Declaration and Initialisation

In [0]:
# Lets create a shelf where we will keep our books

shelf = { i : [] for i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"}

class Book:
  
  def __init__(self,name,author,publisher):
    self.name = name
    self.author = author
    self.publisher = publisher 
    self.shelf_key = name[0].upper()
    
   # method to add book in Shelf 
  
  def add(self,shelf):
    
    entry = {
        "name" : self.name,
        "author": self.author,
        "publisher":self.publisher
    }
    
    
    # check first 
    if entry not in shelf[self.shelf_key] : 
      shelf[self.shelf_key].append(entry)
    
    
    return shelf[self.shelf_key]
  
  
  # method to remove a book from shelf 
  def remove(self,shelf):
    
    entry = {
        "name" : self.name,
        "author": self.author,
        "publisher":self.publisher
    }
    
    
    # check first 
    if entry in shelf[self.shelf_key] :
      shelf[self.shelf_key].remove(entry)
      
      
     
    return shelf[self.shelf_key]

In [0]:
# Lets test our Book class and shelf 

print(shelf)

In [0]:
# Now lets add our first Book 
book_one = Book(name = "Animal Farm",author = "George Orwell" ,publisher = "NAL")

# Now lets add this to the shelf
book_one.add(shelf)

print(shelf)

In [0]:
# Wow that was successfull , 
# Lets add a few more books

book_two = Book("At Grave's End" , "Jeaniene Frost" , "Avon")

book_three = Book("Harry Potter Part1", "J.K. Rowling","Penguin")

book_two.add(shelf)
book_three.add(shelf)


print(shelf)

In [0]:
# Successfull again now lets try our removing from shelf method 
book_one.remove(shelf)

print(shelf)

##  Wow , that felt like really cool stuff. Isn't it ?
## Checkpoint. Let us know if you have any queries.
## Here's another wholesome meme for all the aspiring developers here today : 
![alt text](https://external-preview.redd.it/-mrfiC65NnzTVhFxlsQI10szQx5HY80_8Fn110Yvh8M.jpg?auto=webp&s=3bd33a554143c5f95f2ddb2bc1cd8150d7400444)

## Now some real quick built-in algorithms

In [0]:
# Wanna sort a list :

lis = [90,12,134,23,1,11,5]
sorted(lis)

In [0]:
# Reverse a list 
print(*reversed(lis))

# indexed based reversal 
print(lis[::-1])

In [0]:
string = "abcccddeeeff"

# count number of instances of character
for i in set(string):
  print(i+" occurs : "+str(string.count(i)) +" times ")

In [0]:
# remove duplicates from list 
arr = [1,2,3,4,5,5,6,6,7,1]

print(list(set(arr)))

In [0]:
# convert a number to binary 

print(bin(2)[2:])

In [0]:
# math library 

from math import sqrt , log , sin , cos , tan

print(sqrt(4))
print(log(16,4))
print(sin(90))
print(cos(90))
print(tan(45))

In [0]:
# convert char to ascii number and vice versa

print(ord("a"))

print(chr(97))

## Thats all for today folks! We are sure that this stuff will help you in your adventure in Python !!

## Topics we will be covering in  upcoming workshops :

###  **1. Data Visualisation - Matplotlib, Seaborn, Plotly etc.**
###   **2. Exploratory Data Analysis**
###   **3. ML Algorithms - Linear and Logistic Regression, KNN, Decision Trees, SVM,Random Forests etc.**
###   **4. Bias Variance Trade off**
### **5. Git, Linux and much more..!**

**PS: You can also let us know through feedback forms and our instagram handle if you guys want workshops on any topics relevant to machine learning and data science.**

Content which we will be covering in future workshops is already available on this link in form of Jupyter Notebooks : 

**https://github.com/AnmolTomer/ml_bootcamp_udemy**

# Link for feedback form : http://tiny.cc/python-advanced
# Feedback QR Code
![alt text](https://i.imgur.com/HIe3C7o.png)